.title
    text-align: center
    color: #000
    font-size: 29px
    font-weight: 400
    text-transform: none

.passwordEye
	>i
        line-height: inherit
        cursor: pointer
        position: relative
        top: 8px

.loginForm
    display: flex
    margin: 0 auto
    background-color: transparent
    padding: 0
    box-sizing: border-box
    width: auto
    align-items: center
    justify-content: center

div.loginCard
    padding: 0

.errorMsg
    color:var(--buttonPrimaryHoverText)
    font-weight:Bold
    position: absolute

.imageBtn
    padding: 0 10px
    margin-top:12px

.imageWindow
    display:none

.button
    margin-top:12px
    background-color: #ca1413
    color: #fff
    &:hover
        color: #ca1413
        background-color: #fff

.checkList
    list-style: none
    padding: 0
    margin: 1rem 0 0

.passwordHintInvalid
    color: red
    font-weight: bolder
    font-size:smaller

.passwordHintValid
    color: green
    font-weight:bold
    font-size:smaller

.eyeIcon
    position:absolute
    right: 10px
    color:grey
    padding-top:15px

.innerTitle
    color:black

.popUp
    z-index:11

.addBorder
	border: 2px solid #ccc7c7
	border-radius: 5px

.submit
	color: var(--buttonPrimaryHoverBackground)
	background: var(--buttonPrimaryHoverText)
	border-color: var(--buttonPrimaryHoverBorder)
	border: 0
	text-transform: uppercase
	font-size: 15px
	margin: 4px 0 4px 7px
	padding: 12px 22px
	box-shadow: 0 0 1px #444
	display: inline-block
	float: right
	cursor: pointer
	width: auto
	transition: all .3s 0s
	min-width: 125px
	min-height: auto
	height: auto
	&:hover, &:focus, &:active
		color: var(--buttonPrimaryHoverBackground)
		background: var(--buttonPrimaryHoverText)
		border-color: var(--buttonPrimaryHoverBorder)
